.motionPointer {
  width: $size;
  height: $size;
  background-color: #{$color}#{$transparency};
  border: 1px solid $color;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform;
  pointer-events: none;
  z-index: 99;
}