.motionPointer {
  width: $size;
  height: $size;
  background-color: #{$color}#{$transparency};
  border-radius: 50%;
  position: absolute;
  will-change: transform, width, height, background-color;
  transition: all 0.2s ease-out;
  pointer-events: none;
  z-index: 99;
  &--hover {
    background-color: #{$color}#{$hoverTransparency};
  }
}