// cursor config
$color: #d0a264; //hex
$size: 30px; //px
$hoverSize: 60px; //px
$cursorXAxis: ($size - 10px) / -2;
$cursorYAxis: ($size - 10px) / -2;
$cursorHoverXAxis: ($hoverSize - 10px) / -2;
$cursorHoverYAxis: ($hoverSize - 10px) / -2;
$transparency: 70; //0-99
$hoverTransparency: 30; //0-99
